<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Page</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/home.js' %}" defer></script>
</head>
<body>
    <br>
    <br>
    <h1>Consumer</h1>
    <form action="{% url 'client1' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="tagInput" placeholder="Enter a keyword and then press Enter" />
            <div id="tagContainer" class="tag-container"></div>
            
            <input type="submit" value="Submit Request">
    </form>

</body>
</html>