<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Page</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/client2.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 100,
                values: [10, 50],
                slide: function(event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    $("#minPrice").val(ui.values[0]);
                    $("#maxPrice").val(ui.values[1]);
                }
            });
    
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                " - $" + $("#slider-range").slider("values", 1));
            $("#minPrice").val($("#slider-range").slider("values", 0));
            $("#maxPrice").val($("#slider-range").slider("values", 1));
        });
    </script>
</head>
<body>
    <a href="{% url 'client1' %}">Make a Product Request</a>
    <a href="{% url 'clientmanage' %}">My Requests</a>
    <br>
    <br>
    <h1>Consumer Preferences:</h1>
    <form action="{% url 'client2' %}" method="POST">
            {% csrf_token %}
            <p>
                <label for="amount">Price range:</label>
                <input type="text" id="amount" readonly="" style="border:0; color:#0fa50f; font-weight:bold;">
            </p>
            <div id="slider-range"></div>
            <input type="hidden" id="minPrice" name="minPrice">
            <input type="hidden" id="maxPrice" name="maxPrice">

            <P><label>Date range:</label></P>
            <p><label for="now">Now</label>
            <input type="radio" id="now" name="date" value=""></p>
            
            <p><label for="inThreeDays">In Three Days</label>
            <input type="radio" id="inThreeDays" name="date" value=""></p>
            
            <p><label for="inAWeek">In a Week</label>
            <input type="radio" id="inAWeek" name="date" value=""></p>
            
            <p><label for="inAMonth">In a Month</label>
            <input type="radio" id="inAMonth" name="date" value=""></p>

            <p><input type="radio" value="Custom" name="date">Custom date: <input type="date" id="currentdate" name="currentdate"></p>

            <label>Product Type:</label>
            <select id="productType" name="productType">
                <option value="Tech">Tech</option>
                <option value="Furniture">Furniture</option>
                <option value="Food">Food</option>
                <option value="Fashion">Clothes</option>
                <option value="Music">Music</option>
                <option value="Games">Games</option>
                <option value="Books">Books</option>
                <option value="Movies">Movies</option>
                <option value="Healthcare">Healthcare</option>
                <option value="Pet">Pet</option>
                <option value="Arts">Arts</option>
            </select>
            <br>
            <p><label>Product Description:</label></p>
            <textarea id="productdetails" name="productdetails" cols="60" rows="8"></textarea>
            <br>
            <label>Product Condition:</label>
            <select id="productCondition" name="productCondition">
                <option value="First Hand">First Hand</option>
                <option value="Second Hand">Second Hand</option>
            </select>

            <br>
            <br>
            
            <input type="submit" value="Submit Request">
    </form>
    <button onclick="location.reload();">Clear</button>

</body>
</html>