<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Requests</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <a href="{% url 'seller1' %}">Upload a Product</a>
    <a href="{% url 'sellermanage' %}">My Products</a>
    <br>
    <br>
    <h1>Welcome {{ seller }}</h1>
    {% if seller_products %}
        <table border="1">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Keywords</th>
                    <th>Product Image</th>
                </tr>
            </thead>
            <tbody>
                {% for request in seller_products %}
                <tr>
                    <td>{{ request.product_id }}</td>
                    <td>{{ request.key_words }}</td>
                    <td><img src="{{ request.image }}" alt="Uploaded Image" style="max-width: 500px;"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> No Products made by this Seller.</p>
    {% endif %}
</body>
</html>