<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <form action="{% url 'sellerlogin' %}" method="POST">
        {% csrf_token %}
        <h1 class="intropages">Seller Login:</h1>
        <input type="email" class="intropages" name="email"placeholder="Enter Email">
        <input type="password" class="intropages" name="password" placeholder="Enter Password">
        <br>
        <br>
        <input type="submit" class="intropages" value="Submit">
        <br>
        <br>
        <a href="{% url 'sellerregister' %}">Register</a>
</form>
</body>
</html>